body{
    color: var(--slate, #434455);
    background-color: var(--write,#FFF);
    font-family: Roboto,  sans-serif;
    font-size: 16px;
    font-weight: 500;
}
:root{
    --write-color: #FFF;
    --iris-color: #4D5AE5;
    --navyblue-color: #2E2F42;
    --slate-color: #434455;
    --cloud-color: #F4F4FD;
}
.menu{
    color: var(--navyblue-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}

.header-navigation-logo{
    color: var(--iris-color);
    font-family: Raleway,sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
}

.header-navigation-accent{
    color: var(--navyblue-color);
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    
    
}

.link{
    text-decoration: none;
}

.menu-link{
    color: var(--navyblue-color);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.menu-link:hover{
    color: #404bbf;
}
.menu-link:focus{
    color: #404bbf;
}
.address-contacts-links{
    font-style: normal;
}
.list{
    list-style-type: none;
}

.menu-list{
    list-style-type: none;
}

.button{
    background-color: rgba(0, 0, 0, 0);
    
}

.button:hover{
    color: var(--write-color);
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
}
    
.button-list-all{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color:var(--cloud-color);
    cursor: pointer;
}
.button-list-all:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}
.button-list-all:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-web{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
}

.button-list-web:hover {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-web:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-app{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
}

.button-list-app:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-app:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-design{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
}

.button-list-design:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-design:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
.button-list-marketing{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--iris-color);
    background-color: var(--cloud-color);
    cursor: pointer;
}

.button-list-marketing:hover{
    color: #FFFFFF;
    background-color: #404BBF;
}

.button-list-marketing:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
.button-order{
    color: var(--write-color);
    background: var(--iris-color);
    cursor: pointer;
    border: 4px;
}

.solutions{
    color: var(--write-color);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.contacts-mail{
    color: var(--slate-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-tel{
    color: var(--slate-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.feature-list{
    color: var(--navyblue-color);
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.description{
    color: var(--slate-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.question{
    color: var(--navyblue-color);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
   
}
.team{
    color: var(--navyblue-color);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    
}
.persone{
    color: var(--navyblue-color);
    text-align: center;
    font-style: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.marketing{
    color: var(--cloud-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.departments{
    color: var(--navyblue-color);
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.activity{
    color: var(--slate-color);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.expert{
   
}
.our-team{
   background: var(--white, #FFF);
}
.activity-item{
    background: var(--white, #FFF);
}