body {
    
    color: var(--slate, #434455);
    background-color: var(--write,#FFF);
    font-family: Roboto,  sans-serif;
    font-size: 16px;
    font-weight: 500;
}
.root{
    color: var(--white, #FFF);
    color: var(--iris, #4D5AE5);
    color: var(--navyblue, #2E2F42);
    color: var(--slate, #434455);
    color: var(--cloud, #F4F4FD);
}
.menu{
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    
}

.header-navigation-logo{
    color: var(--iris, #4D5AE5);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 44px;
    
}
.header-navigation-accent{
    color: var(--navyblue, #2E2F42);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.16;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    width: 71px;
}

.link {
    text-decoration: none;
}

.menu-link {
    color: var(--navyblue, #2E2F42);
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    
}
.list{
    list-style-type: none;
}
.menu-list {
    list-style-type: none;
}
.button{
    display: inline-flex;
    gap: 24px;
    display: flex;
    padding: 12px 24px;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
    
}
.button:hover{
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 16px;
    cursor: pointer;
    
}
.button-list>button:hover{
    color: var(--white, #FFF);
    background: var(--iris, #4D5AE5);
    border: 10px;
    border-radius: 4px;
    padding: 12px, 24px;
}

.button-order{
border-radius: 4px;
color: var(--white, #FFF);
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
display: inline-flex;
padding: 16px 32px;
align-items: flex-start;
gap: 10px;
cursor: pointer;
border: 4px;
border-radius: 4px;
}
.solutions{
    color: var(--white, #FFF);
    text-align: center;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
}

.contacts-mail{
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.contacts-tel {
    color: var(--slate, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.feature-list{
    color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.02em;
    width: 264px;
}
.description{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
}
.question{
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.team{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.persone{
    color: var(--navyblue, #2E2F42);
        /* Header 3 */
        text-align: center;
        font-style: 20px;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.marketing{
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.departments{
    color: #2E2F42;
        /* Header 3 */
        font-size: 20px;
        font-style: normal;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.activity{
color: var(--slate, #434455);
    text-align: center;
    /* Body */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}
.img-item{
    border: 1px solid var(--cornflower, #E7E9FC);
    background: url(<path-to-image>), lightgray -72.845px -19px / 144.444% 112.667% no-repeat;
    width: 360px;
    height: 300px;
}
.expert{
    width: 264px;
    height: 260px;
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
    
}
.our-team{
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--white, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.activity-item{
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}